{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Расписание {{ room.name }} на {{ room_day }}
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Лого</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'users:profile' %}">{{ user.username }}<i class="fas fa-user-circle"></i></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}">Выйти <i class="fas fa-sign-out-alt"></i></a>
          </li>
      {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Войти <i class="fas fa-sign-in-alt"></i></a>
          </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>

{# Окно для добавления записи #}
<div class="modal fade" id="addBookingModal" tabindex="-1" aria-labelledby="addBookingModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-3">
        <form id="addForm" action="{% url 'booking:reservation' %}" method="post">
          {% csrf_token %}
          <h4>Резервируем время</h4>
            {{ add_form|crispy }}
          <div id="add-form-messages" class="text-danger"></div>
          <div class="d-flex justify-content-between mt-4 mb-0">
            <button type="submit" class="btn btn-primary btn-add">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3 px-0">
  <div class="row row-cols-2">
    <div class="col col-3">
      <div class="card shadow-lg p-3">
        <form>
          {{ time_table_form|crispy }}
          <button type="submit" class="btn btn-primary mt-3 w-100">Поиск</button>
        </form>
      </div>

      {% if user.is_authenticated %}
      <div class="card shadow-lg p-3 mt-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#addBookingModal">Добавить</button>
      </div>
      {% endif %}
    </div>

    <div class="col col-9">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">Время</th>
            <th scope="col">Зарезервировал</th>
            <th scope="col">Описание</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for reservation in reservation_list %}
          <tr id="reservation-{{ reservation.pk }}" class="align-middle">
            <td>{{ reservation.start_time|time }} - {{ reservation.finish_time|time }}</td>
            <td scope="row">{{ reservation.owner }}</td>
            <td>{{ reservation.description }}</td>
            <td class="text-end">
              {% if user == reservation.owner %}
              <button class="btn btn-primary" type="button">
                <img src="{% static 'icons/pencil-square.svg' %}" width="16" height="16" alt="Править"/>
              </button>
              {% csrf_token %}
              <a class="btn btn-primary delButton" type="button" data-reserve-id="{{ reservation.id }}">
                <img src="{% static 'icons/trash.svg' %}" width="16" height="16" alt="Удалить"/>
              </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  // Отправка резервирования
  $("#addForm").submit(function(e){
      e.preventDefault()
      $.ajax({
          url: "{% url 'booking:reservation' %}",
          type: "post",
          data: $(this).serialize(),
          success:function(data){
              if (data["success"]) {
                  console.log(data["message"])
                  window.open(data["message"])
              }
              else {
                  $("#add-form-messages").html(data["message"])
              }
          }
      })
  })
  // удаление записи
  $(".delButton").click(function(e){
    let reservation_id = $(this).data("reserve-id")
    let url = "{% url 'booking:reservation-delete' reservation_id='res_id' %}".replace("res_id", reservation_id)
    $.ajax({
        url: url,
        type: "get",
        success:function(data){
            if (data["success"]) {
                console.log(data["message"])
                $("#reservation-" + reservation_id).empty()
            }
        }
    })
  })
</script>
{% endblock %}